<form name="sendMassiveMails" action="#">
    <div ng-controller="MsgCtrl">
        Message: <br>
        <textarea ng-model="message" rows="5" cols="80"></textarea> <br/>
        <b>Output message:</b> <br>
        <div ng-bind-html="trustedHtml"></div> <br>
    </div>

    <div ng-controller="MailCtrl">
        Mails:  <br>
        <textarea ng-model="mails" rows="5" cols="80"></textarea> <br/>

        <table class="table">
            <tr>
                <th>Output mails:</th>
            </tr>
            <tr ng-repeat="m in mailList">
                <td ng-style="m.correct && {'background-color': 'lightgreen'} || {'background-color': 'salmon'}">
                    {{ m.mail }}
                </td>
            </tr>
        </table>
    </div>
    <input type="submit"/>
</form>
